---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero/index.astro';
import OurStory from '../components/OurStory/index.astro';
import FeaturedCollections from '../components/FeaturedCollections/index.astro';
import Showcase from '../components/Showcase/index.astro';
import WhyChooseUs from '../components/WhyChooseUs/index.astro';
import Footer from '../components/Footer/index.astro';
---

<Layout title="DivanItalia - Luxury Italian Furniture">
  <main class="bg-primary">
    <Header />
    <Hero />
    <OurStory />
    <FeaturedCollections />
    <Showcase />
    <WhyChooseUs />
    <Footer />
  </main>
</Layout>